*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container {
    padding: 40px 119px 24px 77px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 64px);
}

.header {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    width: 100%;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image {
    width: 50%;
    height: fit-content;
    margin-right: 118.78px;
}

.image img {
    width: 100%;
    height: auto;
}

.heading {
    font-family: 'Space Mono', monospace;
    font-size: 64px;
    font-weight: 700;
    line-height: 95px;
    letter-spacing: -0.035em;
}

.description {
    margin-top: 36px; 
    width: 381px;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.035em;
    text-align: left;
}

.btn {
    margin-top: 64px;
    width: 216px;
    height: 68px;
    text-transform: uppercase;
    cursor: pointer;
    background:#333333;
    color: #ffffff;
    font-family: 'Space Mono';
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.49px;
    border: none;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 500;
}

.bottom span {
    font-weight: 700;
}

@media only screen and (max-width: 1080px) {
    .image {
        margin-right: 50px;
    }
}

@media only screen and (max-width: 950px) {
    .image {
        margin-right: unset;
        margin-bottom: 60px;
        width: 60%;
    }

    .body {
        flex-direction: column;
    }

    .content {
        width: 100%;
    }

    .container {
        padding: 40px 70px 24px 70px;
    }
}

@media screen and (max-width: 540px) {
    .container {
        padding: 20px 45px 24px 44px;
    }

    .image {
        /* width: 40%; */
        margin-bottom: 20px;
    }

    .heading {
        font-size: 48px;
        letter-spacing: -1.68px;
    }

    .description {
        font-size: 20px;
        width: 300px;
        margin-top: 20px;
    }

    .btn {
        margin-top: 30px;
        width: 216px;
        height: 68px;
    }

    .footer {
        margin-top: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 395px) {

    .heading {
        font-size: 40px;
    }

    .footer {
        font-size: 12px;
        margin-top: 20px;
    }
}